body, html {
	padding: 0;
	margin: 0;
}

body {
	background: linear-gradient(#fbfbfb, #fdfdfd) 100%;
	background-repeat: no-repeat;
	height: 100%;
	background-attachment: fixed;
}

#main
{
	font-size: 16pt;
	color: #444;
	width: 500px;
	position: absolute;
	top: 50%;
	left: 50%;
	margin-left: -250px;
	margin-top: -89px;
	-webkit-transition: all 0.3s linear;
	-moz-transition: all 0.3s linear;
	transition: all 0.3s linear;
}

#main.barcode-shown {
	top: 0%;
	margin-top: 20px;
}

h1 {
	position: relative;
	top: 50%;
	margin: 0 0 30px;
	font-size: 3.8rem;
	text-align: center;
	font-family: Helvetica Neue;
	color: rgba(0, 0, 0, 0);
	text-transform: lowercase;
	font-variant: small-caps;
	background: -webkit-repeating-linear-gradient(
		180deg,
		black 0px,
		black 3px,
		rgba(0, 0, 0, 0) 3px,
		rgba(0, 0, 0, 0) 5px,
		black 5px,
		black 8px,
		rgba(0, 0, 0, 0) 8px,
		rgba(0, 0, 0, 0) 10px,
		black 10px,
		black 11px,
		rgba(0, 0, 0, 0) 11px,
		rgba(0, 0, 0, 0) 14px,
		black 14px,
		black 17px,
		rgba(0, 0, 0, 0) 17px,
		rgba(0, 0, 0, 0) 20px
	);
	background-repeat: repeat;
	-webkit-text-stroke: 1px #333;
	-webkit-background-clip: text;
	-webkit-transition: all 0.3s linear;
	-moz-transition: all 0.3s linear;
	transition: all 0.3s linear;
}

#main.barcode-shown h1 {
	font-size: 3.2rem;
	margin-bottom: 20px;
}

#barcode
{
	font-size: 2rem;
	display: block;
	width: 100%;
	padding: 5px 10px;
	width: 20rem;
	margin: 0 auto 1rem;
}

#results
{
	display: none;
}

#results dl
{
	overflow: auto;
}

#results dl dt,
#results dl dd
{
	float: left;
	margin: 5px 0;
}

#results dl dt
{
	clear: left;
	width: 250px;
	color: #555;
	text-align: right;
	display: block;
}

#results dl dd
{
	padding-left: 10px;
	width: 240px;
}

#canonical
{
	font-weight: bold;
}

.valid
{
	color: #2B9433;
}

.invalid
{
	color: #942B33;
}

#canvas {
	display: none;
}

img {
	display: block;
    margin-left: auto;
    margin-right: auto;
}

#error
{
	text-align: center;
	color: #942B33;
	display: none;
}
