body, html {
	padding: 0;
	margin: 0;
	width: 100%;
	height: 100%;
}

body {
	background: linear-gradient(#fbfbfb, #fdfdfd) 100%;
	background-repeat: no-repeat;
	height: 100%;
	background-attachment: fixed;
}

#main
{
	font-size: 16pt;
	color: #444;
	width: 500px;
	position: absolute;
	top: 50%;
	left: 50%;
	margin-left: -250px;
	margin-top: -89px;
	-webkit-transition: all 0.3s linear;
	-moz-transition: all 0.3s linear;
	transition: all 0.3s linear;
	min-height: calc(50% + 89px);
}

#main.barcode-shown {
	top: 0%;
	margin-top: 20px;
	min-height: calc(100% - 20px);
}

h1 {
	position: relative;
	top: 50%;
	margin: 0 0 30px;
	font-size: 3.8rem;
	text-align: center;
	font-family: Helvetica Neue;
	color: rgba(0, 0, 0, 0);
	text-transform: lowercase;
	font-variant: small-caps;
	background: -webkit-repeating-linear-gradient(
		180deg,
		black 0px,
		black 3px,
		rgba(0, 0, 0, 0) 3px,
		rgba(0, 0, 0, 0) 5px,
		black 5px,
		black 8px,
		rgba(0, 0, 0, 0) 8px,
		rgba(0, 0, 0, 0) 10px,
		black 10px,
		black 11px,
		rgba(0, 0, 0, 0) 11px,
		rgba(0, 0, 0, 0) 14px,
		black 14px,
		black 17px,
		rgba(0, 0, 0, 0) 17px,
		rgba(0, 0, 0, 0) 20px
	);
	background-repeat: repeat;
	-webkit-text-stroke: 1px #333;
	-webkit-background-clip: text;
	-webkit-transition: all 0.3s linear;
	-moz-transition: all 0.3s linear;
	transition: all 0.3s linear;
}

#main.barcode-shown h1 {
	font-size: 3.2rem;
	margin-bottom: 20px;
}

#barcode
{
	font-size: 2rem;
	display: block;
	width: 100%;
	padding: 5px 10px;
	width: 20rem;
	margin: 0 auto 1rem;
}

#results
{
	display: none;
}

#links
{
	text-align: center;
}

#show-ean-link, #checksum {
	text-decoration: none;
	color: rgb(248, 248, 248);
	text-transform: uppercase;
	border: 1px solid rgba(247, 245, 245, 0.62);
	background: rgb(89, 95, 112);
	padding: 3px 8px;
	border-radius: 5px;
	font-family: Georgia;
	-webkit-box-shadow: 0 0 20px -5px #343434;
	box-shadow: 0 0 20px -5px #343434;
	-webkit-transition: background 0.3s linear;
	-moz-transition: background 0.3s linear;
	transition: background 0.3s linear;
	margin: 5px;
}

#show-ean-link:hover {
	background: rgb(84, 109, 180);
}

#checksum {
	background: rgb(112, 89, 89);
}

#checksum:hover {
	background: rgb(180, 102, 96);
}

#canvas {
	display: none;
}

#country {
	font-size: 2.4rem;
	text-align: center;
	margin-bottom: 80px;
}

img {
	display: block;
    margin-left: auto;
    margin-right: auto;
}

#error
{
	text-align: center;
	color: #942B33;
	display: none;
}

footer {
	position: absolute;
	bottom: 0;
	left: 0;
	right: 0;
	text-align: center;
	color: #666;
	padding: 1rem 0;
	box-sizing: border-box;
	font-size: 1.1rem;
}

footer a {
	color: #666;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.preload * {
	-webkit-transition: none !important;
	-moz-transition: none !important;
	transition: none !important;
}
